[run]
branch = True
omit =
    /*/migrations/*
    /*/apps.py
    /*/wsgi.py
    /*/urls.py
    /*/settings.py
    /*/manage.py

[report]
show_missing = True
skip_covered = True

[html]
directory = build/coverage
