version: 2
jobs:
  build:
    docker:
      - image: python:3.6
        environment:
          DATABASE_URL: postgresql://postgres:password@localhost:5432/postgres
      - image: postgres:10.1
        environment:
          POSTGRES_USERNAME: postgres
          POSTGRES_PASSWORD: "password"
          POSTGRES_DB: postgres
      - image: redis:4

    working_directory: ~/accounting

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          - v1-dependencies-

      - run:
          name: Install Dependencies
          command: |
            python3 -m venv ~/venv
            . ~/venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ~/venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
        
      - run:
          name: Run Tests
          command: |
            . ~/venv/bin/activate
            make test

      - store_artifacts:
          path: test-reports
          destination: test-reports
